
.ipynb_checkpoints/HODP Python Regex Unfinished-checkpoint.ipynb
.ipynb_checkpoints/HODP Python Regex Solution-checkpoint.ipynb
.ipynb_checkpoints/Bootcamp Selenium Python Solutions-checkpoint.ipynb
.ipynb_checkpoints/Selenium Python Bootcamp-checkpoint.ipynb
*.ipynb
